---
interface Props {
    title: string;
    description: string;
    type: 'blocked' | 'flagged';
}

const { title, description, type } = Astro.props;

const styles = {
    blocked: 'bg-red-50 border-red-200 text-red-800',
    flagged: 'bg-yellow-50 border-yellow-200 text-yellow-800'
};

const icons = {
    blocked: `<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd" />
    </svg>`,
    flagged: `<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z" clip-rule="evenodd" />
    </svg>`
};
---
<div class={`border p-4 ${styles[type]} flex gap-3 items-start w-[350px] h-[160px] mx-2 my-4`}>
    <div class="mt-0.5" set:html={icons[type]} />
    <div class="flex-1 overflow-hidden">
        <h3 class="font-bold mb-2 text-ellipsis overflow-hidden whitespace-nowrap">{title}</h3>
        <p class="text-sm line-clamp-4">{description}</p>
    </div>
</div>

<style>
    .line-clamp-4 {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style> 