<div class="text-center text-gray-600 mb-8">
    <hr class="border-gray-200 mb-8">
    <p>All original content is licensed under CC0.</p>
    {/* TODO: Add a link to the GitHub repo */}
    <p>Contribute to this site on <u><a href="https://github.com/studentprivacy/studentprivacy.com">GitHub</a></u></p>
    <p>Made with ❤️ by <u><a href="https://www.mayo.cool">A Bottle of Mayonaise</a></u> and <u><a href="https://github.com/studentprivacy/studentprivacy.com/graphs/contributors">open source contributors</a></u></p>
</div>