<div class="text-center text-gray-600 mb-8">
    <hr class="border-gray-200 mb-8">
    <p>All source code, including page content, is licensed under <u><a href="https://github.com/studentprivacyio/studentprivacyio/blob/main/LICENSE">the MIT license</a></u>.</p>
    <p>Contribute to this site on <u><a href="https://github.com/studentprivacyio/studentprivacyio">GitHub</a></u></p>
    <p>Made with <a href="https://about.fernando-botero-sculpture.com">❤️</a> by <u><a href="https://www.mayo.cool">A Bottle of Mayonaise</a></u> and <u><a href="https://github.com/studentprivacyio/studentprivacyio/graphs/contributors">open source contributors</a></u></p>
    <p><u><a href="/privacy-policy">Privacy Policy</a></u></p>
</div>