---
import Button from '@components/Button.astro';
---

<nav class="sticky top-0 z-50 border-b border-gray-200 bg-white">
	<div class="max-w-4xl mx-auto px-4 py-3 flex flex-wrap items-center gap-6">
		<div class="font-medium text-gray-900 mr-8"><a href="/">⛓️‍💥 STUDENTPRIVACY.IO</a></div>
		
		<!-- Mobile menu button -->
		<button type="button" class="md:hidden ml-auto" id="mobile-menu-button" aria-label="Menu">
			<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>

		<!-- Navigation links -->
		<div class="hidden md:flex gap-6 text-sm items-center ml-auto" id="nav-links">
			<a href="/rights" class="text-gray-600 hover:text-gray-900">YOUR RIGHTS</a>
			<a href="/about" class="text-gray-600 hover:text-gray-900">ABOUT</a>
			<a href="/blog" class="text-gray-600 hover:text-gray-900">BLOG</a>
			<a href="/opt-out"><Button>OPT OUT</Button></a>
		</div>

		<!-- Mobile menu -->
		<div class="hidden w-full md:hidden" id="mobile-menu">
			<div class="flex flex-col gap-4 mt-2">
				<a href="/rights" class="text-gray-600 hover:text-gray-900">YOUR RIGHTS</a>
				<a href="/about" class="text-gray-600 hover:text-gray-900">ABOUT</a>
				<a href="/blog" class="text-gray-600 hover:text-gray-900">BLOG</a>
				<a href="/opt-out"><Button>OPT OUT</Button></a>
			</div>
		</div>
	</div>
</nav>

<script>
	document.addEventListener('astro:page-load', () => {
		const mobileMenuButton = document.getElementById('mobile-menu-button');
		const mobileMenu = document.getElementById('mobile-menu');

		if (mobileMenuButton && mobileMenu) {
			mobileMenuButton.addEventListener('click', () => {
				mobileMenu.classList.toggle('hidden');
			});
		}
	});

</script>
